
<!DOCTYPE html>
<html>
  <nav>
    <a href="/flights/new" >ADD Flight</a>
    <a href="/flights" >ALL Flights</a>
  </nav>
  <head>
    <title>Flight</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flight</h1>
  </body>
  
