<%- include('../partials/header') %>
<h2>views/flights/new</h2>
<h2>Enter a New Flight</h2>

<form action="/flights" method="POST">
  <label>Airport</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN" selected>DEN</option>
  </select>
  <label>Airline:</label>
  <select name="airline">
    <option value="Delta" selected>Delta</option>
    <option value="United">United</option>
    <option value="Southwest">Southwest</option>
    <option value="American">American</option>
  </select>
  <label>Flight Number:</label>
  <input name="flightNo" type="number" min="10" max="9999" value="100" required>
  <input name="departs" type="date" id="datePicker">
  <input type="submit" value="Add Flight">
</form>

<script>
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear() + 1;

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day;       
document.getElementById("datePicker").value = today;
console.log(new Date(Date.now()).toString());
</script>

<%- include('../partials/footer') %>	